<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- SGIM Logo and Name -->
    <a href="/" class="navbar-brand d-flex align-items-center">
      <!-- Simple SVG Placeholder for Logo -->
      <svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-2">
        <path
          d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-1-13h2v6h-2zm0 8h2v2h-2z"
          fill="white" />
      </svg>
      <span style="font-weight: bold; margin-right: 10px;">SGIM</span>
      <span style="font-size: 0.8em;">Sistema de Gestión de Incidencias y Mantenimiento</span>
    </a>

    <!-- Right-aligned nav items - Entirely hidden during mandatory password change -->
    <ul class="navbar-nav ml-auto" *ngIf="!isPasswordChangeRequired">

      <!-- Dropdown Menu for Logged In Users -->
      <li class="nav-item dropdown" *ngIf="isLoggedIn" appBootstrapDropdown>
        <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown" role="button"
          aria-haspopup="true">
          <img [src]="avatarUrl" width="30" height="30" class="rounded-circle">
        </a>
        <div class="dropdown-menu dropdown-menu-end shadow-sm border-0" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/profile"><i class="bi bi-person me-2"></i>Perfil</a>
          <a class="dropdown-item" routerLink="/change-password"><i class="bi bi-key me-2"></i>Cambio de clave</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-danger" href="javascript:void(0)" (click)="logout()"><i
              class="bi bi-box-arrow-right me-2"></i>Cerrar Sesión</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div>
  <router-outlet></router-outlet>
</div>